In [19]:
# create an empty list
l1 = []

print(l1)

# create a list with few itesm
l2 = ["bob", "sarah", "mike", "john", "jennifer", "julie"]

print(l2)

[]
['bob', 'sarah', 'mike', 'john', 'jennifer', 'julie']

In [20]:
# add items to list
l1.append("first")

print(l1)

['first']

In [21]:
# loop through a list

for x in l2:
    print(x)

bob
sarah
mike
john
jennifer
julie

In [22]:
# length of list
len(l2)

6

In [23]:
# add one list to another and print
l1.append(l2)

for x in l1:
    print(x)

first
['bob', 'sarah', 'mike', 'john', 'jennifer', 'julie']

In [29]:
# split a line into list
threewords = "these three words"
threewords.split()

['these', 'three', 'words']